# This configuration file should be named as .env
# It must be located under the same directory as the app.py
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=YOUR_NEO4J_PASSWORD
NEO4J_URI="bolt://localhost:7687"
# Postgres database configuration
POSTGRES_HOST=YOUR_POSTGRES_HOST
POSTGRES_PORT=5432
POSTGRES_USER=YOUR_POSTGRES_USER
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_DB=YOUR_POSTGRES_DATABASE
MCP_BASE_URL=http://127.0.0.1:8080
GATEWAY_URL=http://localhost:8080
FAST_MCP_LOG_LEVEL=INFO
MEMORY_CONFIG=config.yml
OPENAI_API_KEY="YOUR_VALID_OPENAI_API_KEY"